
RewriteEngine On
#Adicionei htm|html|php pra rodar o ckfinder
RewriteRule !\.(js|gif|jpg|png|css|txt|swf|ico|htm|html|xml|php|mp4|avi|flv|f4v|JPG|PNG|GIF|mp3)$ index.php [L]
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]


#php setting php como módulo do apache
#php_value post_max_size 1G
#php_value upload_max_filesize 8000M
#php_value max_input_time 8000000
#php_value max_execution_time 8000000
#php_value memory_limit 1024M
#php_value allow_url_fopen on
#php_flag magic_quotes_gpc off






